html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: left;
}
h1center {
  font-size: 3.0rem;
  color: #ff0088;
  padding: 2vh;
  text-align: center;
}
h2center {
  font-size: 1.0rem;
  color: #ff0088;
  padding: 2vh;
  text-align: center;
}
p{
  font-size: 1.0rem;
}
.button {
  display: inline-block;
  background-color: #008090;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 10px;
  margin: 2px;
  cursor: pointer;
}
